<!-- INICIO DO CONTEUDO -->
<!-- removemos todos os outros e deixamos um só que seja pegado no json,
poderia aqui, se criar tambem um novo componente para o reviews entretanto
pode ser desnecessãrio e sendo assim, fazemos apenar uso das diretivas
como ngfor(Para interrar... dentro da div que se repete...  as outras avaliacoes) e ngif(visibilidade, nunca usar o hidden do DOM..). -->
<div class="col-xs-12 col-sm-6" *ngFor="let review of reviews | async">
  <!-- note que aqui na precimos fazer como fizemos ngFor:"item of menu | async" [menuItem]="item" pois ela nao é um array nem tem componente proprio-->
  <!-- ao inves de fazer o subscreibe do Observable que ele se inscreve dentro do componente pega a resposta, atribuir a uma propriedade do componente,
  o pipe vai fazer isso pra gente,  pegar esses dados e interrar sobre eles. "Vantagem".
-->
  <div class="box box-solid">
    <div class="box-header with-border">
      <span class="review-score pull-right"><i class="fa fa-star"></i> {{review.rating}}</span>
      <div class="user-block">
        <img *ngIf= "review.rating < 3" alt="User Image" class="img-circle" src="assets/img/reactions/pissed.png">
        <img *ngIf= "review.rating >= 3 && review.rating < 4" alt="User Image" class="img-circle" src="assets/img/reactions/soso.png">
        <img *ngIf= "review.rating >= 4"alt="User Image" class="img-circle" src="assets/img/reactions/loved.png">
        <span class="username">{{review.name}}</span>
        <span class="description">{{review.date | date: 'dd/MM/yyyy'}}</span> <!-- note que aqui ta diferente de la do nosoo jsonj -->
      </div>
    </div>

    <div class="box-body">
      <p>{{review.comments}}</p>
    </div>
  </div>

</div>
<!--FIM DO CONTEUDO -->
